@import 'style.less';


@white: #fff;
@gold: #dcb558;
@black: #000;
@gray: #666;
@category: #111;
@font-open: 'Open Sans', sans-serif;
@font-play: 'Playfair Display', serif;


h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1170px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.clearfix {
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.ib-top() {
  display: inline-block;
  vertical-align: top;
}
